/*--@CSS Document---*/
html{
   font-family: 'Roboto', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
}


*{
    margin:0;
    padding:0;
    text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased !important;
   -moz-osx-font-smoothing: grayscale !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	
    
}
.clear-style{
    clear:both;
}
.container-fluid{
    padding-right:0;
    padding-left:0;
}
.page-width{
    width:100%;
    padding:0;
    margin: 0;
    padding-left:0;
    padding-right:0;
    position:relative;
  //  border:1px solid #F00;
}

.top-header{
    width:100%;
    height:150px;
   
    
}
.affix {
      top: 0;
      width: 100%;
     }


.body-view{
    position: relative;
    width:100%;
   // margin-top:200px;
    margin-top:0px;
    overflow-x:hidden;
}
 .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
  height: 480px;
  max-height: 480px;
 
}

.custom-nav{
	background:#FFF;
	box-shadow:2px 2px 2px #323232;
	z-index:999;
	border-radius:0px;
	margin-bottom: 0px !important; 
	
	
}
.custom-nav >li >a {
    color:#FFF;
}
.welcome-heading{
    width:100%;
    padding-top:2%;
    font-size: 3.5em;
    text-align: center;
    color: #F2652C;
    font-weight: 600;
}
.service-container{
    width:96%;
    margin:0 auto;
}
.service-box{
   width:100%;
}


.panel-heading{
    border-bottom:none;
}
.service-box h4{
    text-align:center;
    margin-top:-10px;
}
.service-icon{
    width:64%;
    margin:0 auto;
}
.service-box img{
  
}
.service-box p{
    text-align:center;
}
.more{
    width:75%;
    margin:20px auto;
    
}
.more .more-btn{
    /*clear: both;
    text-align: center;
    background: #F2652C;
    padding: 10px 50px;
    border-radius: 4px;
    color: #FFF;
    margin-top:5px;
    text-decoration:none;*/
	
	clear: both;
	width:100%;
	background: none;
	color: #F2652C;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	padding: 11px 12px;
	border: 2px solid #F2652C;
	font-weight: bold;
}
.more-btn :hover{
    background:#F2652C;
	color:#FFF;
	transition:.2s;
	
}

.mantra-btn{
	width:100%;
	background:none;
	border:1px solid #F2652C;
	height:45px;
}

.bg-overlay {
    margin-top:3%;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-mantra-text p{
    width:92%;
    margin:0 auto;
}


/* ------ Free Guest Pass ----------*/
.free-guest-container{
	margin-top:0%;
   
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
	background:#E9E9E9;
}
#free-guest-container-box{
	width:80%;
	margin:0 auto;
}
.guest-pass-title p{
	width:100%;
	text-align:center;
	font-size:3em;
	padding-top:20%;
}
.guest-pass-desc p{
	width:100%;
	text-align:center;
	font-size:1.5em;
}
.guest-pass-link{
	width:50%;
	margin:0 auto;
}
.guest-pass-btn{
	width:100%;
	margin:0 auto;
	background: #F2652C;
	border: 2px solid #F2652C;
	color:#FFF;
	height: 50px;
	font-weight: bold;
	font-size: 1.3em;
	//text-shadow: 1px 1px 1px #323232;
	border-radius:6px;
	background:none;
	color:#F2652C;
}
.guest-pass-btn:hover{
	background: #F2652C;
	color:#FFF;
	transition:.3s;
}

/*----------Testimonial --------------*/

#testimonial-crousal{
	 width:80%;
	 margin:0 auto;
	 overflow-x:hidden;
}

.testimonial-container >.carousel-control.left{
	background:none !important;
	width:25px;
	color:#323232;
	}
.testimonial-container >.carousel-control.right  {
	background:none !important;
	width:25px;
	
	}

.testimonial-container > .carousel-control.left {left:-25px;}
.testimonial-container > .carousel-control.right {right:-25px;}
.testimonial-container > .broun-block {
  //  background: url("http://myinstantcms.ru/images/bg-broun1.jpg") repeat scroll center top rgba(0, 0, 0, 0);
   // padding-bottom: 34px;
}

.testimonial-block{
	padding:12%;
}
.testimonial-border-right{
	//border-right:2px dashhed #CCC;
}
.testimonial-container >  .block-text {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 0 #2c2222;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}
.testimonial-container >  .block-text a {
 color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.testimonial-container >  .mark {
    padding: 12px 0;background:none;
}
.testimonial-container >  .block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}

.testimonial-container >  .sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}
.testimonial-container >  .block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.testimonial-container >  .block {
    display: block;
}
.testimonial-container >  .zmin {
    z-index: 1;
}
.testimonial-container >  .ab {
    position: absolute;
}

.testimonial-container >  .person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.testimonial-container >  .person-text a {
    color: #ffcc00;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.testimonial-container > .person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}
.testimonial-container > .rel {
    position: relative;
}

#carousel-reviews .glyphicon-chevron-left{
	color:#323232;
}
#carousel-reviews .glyphicon-chevron-right{
	color:#323232;
}

#carousel-reviews .carousel-control.left {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, transparent 100%);
    background-repeat: repeat-x;
}
#carousel-reviews .carousel-control.right {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, transparent 100%);
    background-repeat: repeat-x;
}

/*---------Upcoming Events -----*/


.events-and-offers{
	margin-top:0%;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.8)), url("../images/upcoming-events.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed fixed;
	height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}
#events-and-offer-box-container{
	width:80%;
	margin:0 auto;
}
/* site.css */
.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel-heading{
	//padding:5%;
	//font-size:2em;
	//color:#FF6600;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

#upcoming-events{
	height:330px;
	max-height:330px;
	overflow-y:hidden;
}

.news-item
{
	clear:both;
    padding:4px 4px;
    margin:0px;
	padding-top: 2%;
	padding-bottom: 20%;
	border-bottom: 1px solid #CCC;
 
}
.event-date{
	width:20%;
	float: left;
	height: 65px;
	background: #F2652C;
	text-align: center;
	border-radius: 6px;
	font-size: 124%;
	word-wrap: break-word;
	color:#FFF;
	font-weight:bold;
	box-shadow: 4px 4px 6px #CCC;
	
	
}
.event-date .date{
	//padding-top:1%;
}
.event-date .year{
	font-size: 1.6em;
}
.event-content{
	width:75%;
	float:right;
	
}
.event-content h5{
	margin-top:0px !important;
	margin-bottom:0px !important;
	color:#EE763A;
	font-weight:bold;
	font-style:itallic;
}
.event-content a {
	background: #A1A1A1 none repeat scroll 0% 0%;
	text-decoration: none;
	color: #FFF;
	border-radius: 4px;
	padding: 2px 10px;
}

#latest-offers{
	height:330px;
	max-height:330px;
	overflow-y:hidden;
	overflow-x:hidden;
}


/*---May I Help You Section-----*/
.may-i-help{
	margin-top:0%;
   // background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url("../images/contact-us-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed fixed;
	height: 100%;
    padding-top: 10px;
   // padding-bottom: 50px;
    background:#E9E9E9;
}
#may-i-help-box-container{
	width:80%;
	margin:3% auto;
}
.may-i-help-form{
	width:100%;
	margin:0 auto;
	background:#F3F3F3;
	/*border-top:1px solid #F2652C;
	border-left:1px solid #F2652C;
	border-right:1px solid #F2652C;
	border-bottom:1px solid #F2652C;*/
	border:1px solid #CCC;
	padding:5%;
	border-radius:16px;
	
}

.help-icon{
	width:100%;
	text-align:center;
}
.help-icon .glyphicon-question-sign{
	font-size:10em;
	color:#F2652C;
	
}
.help-icon .glyphicon-hand-right{
	font-size:5em;
	text-align:center;
}
.help-title {
	width:100%;
	text-align:center;
	color:#F2652C;
	font-weight:bold;
	
}
.help-title p{
	font-size:4em;
}
.help-desc p {
	width:100%;
	text-align:center;
	font-size:1.7em;
}


.mayihelp-form-left{
	width:48%;
	margin-right:2%;
	float:left;
}
.mayihelp-form-right{
	width:48%;
	margin-left:2%;
	float:left;
}
.may-i-help-form label{
	font-size:1em;
	//color:#F2652C;
	color:#5F5F5F;
	
}
.may-i-help-form input{
	//border:1px solid #FF6600;
	border:1px solid #CCC;
}
.may-i-help-form textarea{
	//border:1px solid #FF6600;
	border:1px solid #CCC;
	resize:none;
}
.may-i-help-form button{
	width:100%;
	background:#F2652C;
	//background:#5D5D5D ;
	font-weight:bold;
	color:#FFF;
	border:1px solid #CCC;
}
.may-i-help-form button:hover{
	background:#5D5D5D ;
	border:1px solid #CCC;
	font-weight:bold;
	color:#FFF;
	transition:.5s;
	
}
.left-help-choice-option{
	width:48%;
	margin-right:1%;
	float:left;
}
.left-help-choice-option ul{
	list-style:none;
}
.right-help-choice-option{
	width:48%;
	margin-left:1%;
	float:left;
}
.right-help-choice-option ul{
	list-style:none;
}



/*------ Video Section-------*/
.video-section-box{
	margin-top:0%;
   // background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url("../images/contact-us-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed fixed;
	height: 100%;
    padding-top: 10px;
   // padding-bottom: 50px;
   background:#FFF;
}

#video-section-box-container{
	width:80%;
	margin:3% auto;
}
.video-icon{
	width:100%;
	text-align:center;
	
}
.video-icon .glyphicon-facetime-video{
	font-size:5em;
	text-align:center;
	color:#F2652C;
}
.video-title {
	width:100%;
	text-align:center;
	color:#F2652C;
	font-weight:bold;
	
}
.video-title p{
	font-size:4em;
}
.video-desc p {
	width:100%;
	text-align:center;
	font-size:1.5em;
}

.more-video{
	clear:both;
	width:40%;
	margin:0 auto;
}
.more-video .more-videos-btn{
	width:100%;
	margin:0 auto;
	background:none;
	border:1px solid #F2652C;
	color:#F2652C;
	font-weight:bold;
}
.more-video .more-videos-btn:hover{
	background:#F2652C;
	color:#FFF;
	border:1px solid #F2652C;
	transition:.3s;
}

/*---------Contact Us--------*/
.google-map-container{
	//margin-top:3%;
	background:#E9E9E9;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#contact-us-container{
	width:80%;
	margin:0 auto;
}
.google-map{
	width:90%;
	margin:0 auto;
	
}
/*--------------*/
.footer-section{
	width:100%;
	margin-top:1%;
	height:80px;
	text-align:center;
	background:#323232;
	color:#FFF;
	line-height:80px;
}



/*-----------------Custome Responsive CSS----------------*/



