/*--@CSS Document---*/
html{
   font-family: 'Roboto', sans-serif;
 /*  height:100%; */
}
body{
    font-family: 'Roboto', sans-serif;
/*	height:100%; */
	
	
}
*{
    margin:0;
    padding:0;
    text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased !important;
   -moz-osx-font-smoothing: grayscale !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	list-style:none;
    
}
textarea{
	resize:none;
}
.clear-style{
    clear:both;
}
.container-fluid{
    padding-right:0;
    padding-left:0;
}
.page-width{
    width:100%;
    padding:0;
    margin: 0;
    padding-left:0;
    padding-right:0;
    position:relative;
  
}
.validation-error{
	border: 1px solid #F23D17 !important;
	box-shadow: 0px 1px 8px #FEA592 !important;
}

/*---------Back to top---------*/


#scroll {
    position:fixed;
    right:10px;
    bottom:40px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#F14513;
    text-indent:-9999px;
    display:none;
	z-index:9999;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px
}

#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;
	filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}


/*--- end back to top ---*/

.top-header{
    width:100%;
    height:119px;
}
.top-header img{
		width:100%;
}

.affix {
      top: 0;
      width: 100%;
     }


.body-view{
    position: relative;
    width:100%;
   // margin-top:200px;
    margin-top:0px;
  //  overflow-x:hidden;
}
 .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
  height: 480px;
  max-height: 480px;
 
}

.custom-nav{
	background:#FFF;
	box-shadow:2px 2px 2px #323232;
	z-index:999;
	border-radius:0px;
	margin-bottom: 0px !important; 
}

.custom-nav >li >a {
    color:#FFF;
}
.desktop-view {
		display:block;
	}
/*----------Mega Menu----------*/

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
  //  padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 17px;
  font-weight:600;
  color: #E34C11;
//  padding: 5px 60px 5px 5px;
  padding-left: 0;
  line-height: 15px;
}
.dropdown  >.dropdown-menu{
	padding-bottom:2%;
}
.dropdown-menu p{
	font-size:12px;
}
.dropdown-menu .row{
	padding-bottom:2%;
}
#navbar-main .mega-dropdown-menu ul li{
	list-style:none;
}

.cutome-link-btn{
	//background: #F2652C;
	background:none;
	color:#F2652C !important;
	border: 1px solid #F2652C !important;
	font-weight: 700;
	
}
.cutome-link-btn:hover{
	//background:none;
	background: #F2652C;
	color:#FFF !important;
	border: 1px solid #F2652C;
}

/*---- Mega Menu About Section ----*/
.nav-mantra-director{
	width:98%;
	margin:14px auto;
}
.mantra-direct-left{
	width:49%;
	float:left;
	margin-right:1%;
}
.mantra-direct-right{
	width:49%;
	float:right;
	margin-left:1%;
}

.nav-mantra-director img{
	width: 60%;
	margin: 0px auto 0px 19%;
	border-radius: 7%;
	border: 2px solid #D8D8D8;
	box-shadow: 2px 2px 2px #CCC;
}
.nav-mantra-director p {
	color: #595959;
	padding-top: 5%;
	font-size: 13px;
	text-align:center;
	font-weight:700;
	
}
.director{
	margin-top:-19px;
}

/*.team-mantra-desc{
	clear:both;
	padding-top:1%;
}

.testimonial-thought{
	//height:70px;
	padding-bottom:2%;
}
.person-name{
	font-weight: 600;
	color: #F6491A;
	font-size: 12px;
}
.person-designation{
	margin-top:-10px;
	font-weight:700;
	font-style:italic;
}
*/

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 100px;
  height: 100px
}

.nav-testimonial{
	margin-top:-20px;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
/* ----------END Mega Menu----------*/

/*------ Mobile Menu design -----*/
.responsive-icon{
	font-size:21px;
	cursor:pointer;
	line-height:50px !important;
	padding-left:3%;
	color:#F2652C;
	display:none !important;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
   // background-color: #C8C8C8;
   background-color: #F2652C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	box-shadow: 2px 2px 2px #383838;
	//margin-top:20%;
}

.sidenav a {
   // padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #FFF;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
  //  right: 25px;
    font-size: 36px;
    margin-left: 100px;
	color:#FFF;
	margin-top:20%;
}
#mobile-menu-main{
	margin-top:20%;
}

#mobile-menu-main .panel {
    margin-bottom: 0px;
    border: 0px solid transparent;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
    background-color: none;
}


.pushy{
	background: #EF3B1E none repeat scroll 0% 0% !important;
}
.pushy a {
   color: #FFF !important;
   
}
.pushy-submenu button {
  color: #FFF !important;
}



/*-----End Mobile menu------*/



.mantra-heading-text{
    width:98%;
    padding-top:2%;
    font-size: 3.5em;
    text-align: center;
    color: #F2652C;
    font-weight: 600;
}
.service-container{
    width:96%;
    margin:0 auto;
}
.service-box{
   width:100%;
}


.panel-heading{
    border-bottom:none;
}
.service-box h4{
    text-align:center;
    margin-top:-10px;
}
.service-icon{
    width:64%;
    margin:0 auto;
}
.service-box img{
  
}
.service-box p{
    /*text-align:center; */
    text-align:center;
}
.more{
    width:75%;
    margin:20px auto;
    
}
.more .more-btn{
    /*clear: both;
    text-align: center;
    background: #F2652C;
    padding: 10px 50px;
    border-radius: 4px;
    color: #FFF;
    margin-top:5px;
    text-decoration:none;*/
	
	clear: both;
	width:100%;
	background: none;
	color: #F2652C;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	padding: 11px 12px;
	border: 2px solid #F2652C;
	font-weight: bold;
}
.more:hover{
    background:#F2652C !important;
	color:#FFF !important;
	border-radius: 4px;
	transition:.2s;
}
.more:hover a{color:#FFF !important;}


.mantra-btn{
	width:100%;
	background:none;
	border:1px solid #F2652C;
	height:45px;
}

.service-box:hover{
	/*margin-top: -10px;
    border: 0px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
  //  background: rgba(200, 200, 200, 0.1);
    transition: 0.5s; */
}

.bg-overlay {
    margin-top:3%;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-mantra-text p{
    width:92%;
    margin:0 auto;
}



/*-------MAGIC MANTRA ------*/
.revolutionary-item1,.revolutionary-item2,.revolutionary-item3{height:100px;}

.magic-mantra-container .list-group-item.active{font-weight:700 !important;}
.magic-mantra-container .list-group-item.active, .magic-mantra-container .list-group-item.active:hover, .magic-mantra-container .list-group-item.active:focus {
    z-index: 2;
    color: #FFF;
    background-color: #F5573D !important;
    border-color: #F5573D !important;
}

.revol-step{
	background:#F2F2F2;
	border:0px solid #CCC;
	border-radius:2px;
	//padding:2%;
	padding-bottom:5%;
}
.revol-step .revol-title {
	background:#FF603E;
	padding:1% 0;
	text-align:center;
	color:#FFF;
	font-weight:700;
}
.revol-step .revol-img img{
	border-radius:0px;
	width:100%;
	max-width:100%;
}
.revol-step .revol-description{
	padding-left:4%;
}


.revolutionary-step1-container{
	width: 50%;
	margin: 2% auto;
	height:100px;
	background: #F54326;
	padding: 3% 2%;
	border-radius: 105px;
}
.revolutionary-step2-container{
	width: 68%;
	margin: 2% auto;
	height:100px;
	background: #FB8624 ;
	padding: 3% 2%;
	border-radius: 105px;
}
.revolutionary-step3-container{
	width: 82%;
	margin: 2% auto;
	height:100px;
	background: #61B454  ;
	padding: 3% 2%;
	border-radius: 105px;
}
.step-no{
	width:20%;
	float:left;
	font-size:45px;
	font-weight:700;
	color:#FFF;
	line-height: 46px;
}

.step-description{
	width:75%;
	float:right;
}
.step-description p{
	color: rgb(255, 255, 255);
	font-weight: 700;
	margin: 0px 0px 0px;
}
.step-description img{
	width:16px;
	border-radius: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	display: inline-table !important;
}

.revolutionary-cache{
	font-size:4em;
	text-align:center;
	color:#F2652D;
}

/*-----Hav Report---------*/
.health-asset-value-member .list-group  .active{
	background-color: #F36C37;
	border-color: #F36C37;
}
 .health-asset-value-member  .list-group-item.active:hover, .health-asset-value-member  .list-group-item.active:focus {
    z-index: 2;
    color: #FFF;
    background-color: #F36C37;
    border-color: #F36C37;
	opacity:.8;
}

.health-asset-value-container table{
	//width:98%;
}
	
.table-responsive{
	border:0px solid #FFF;
	border-radius:10px;
}
.health-asset-value-container .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
   
    border: 1px solid #FFF !important;
}

.health-asset-value-container table tr th{
	font-weight:700;
	color:#FFF;
}

.health-asset-value-container  h2{
	color:#F2652D;
} 
.health-asset-value-container  h4{
	color:#626262;
} 
.health-asset-value-container  h5{
	color:#D8560F;
} 

/*--------Blood Presure------------*/
.bp-heading{background:#F69649;}
.bp-td-head{background:#F69649;color:#FFF;font-weight:700;}
.bp-tr-even{background:#FACAA4;}
.bp-tr-odd{background:#FDE2CD;}

/*--------Oxy Saturation Level------------*/
.oxy-level-heading{background:#F742A0;}
.oxy-level-td-head{background:#F742A0;color:#FFF;font-weight:700;}
.oxy-level-tr-even{background:#FFAAD6;}
.oxy-level-tr-odd{background:#FFC8E5;}

/*--------Strength------------*/
.strength-heading{background:#4AACC7;}
.strength-td-head{background:#4AACC7;color:#FFF;font-weight:700;}
.strength-tr-even{background:#A3D5E0;}
.strength-tr-odd{background:#D2EBF0;}

/*--------VoMax------------*/
.vomax-heading{background:#9DBB59;}
.vomax-td-head{background:#9DBB59;color:#FFF;font-weight:700;}
.vomax-tr-even{background:#CDDDAE;}
.vomax-tr-odd{background:#E7ECD6;}


/*--------Sit Up Test------------*/
.situp-heading{background:#C2514D;}
.situp-td-head{background:#C2514D;color:#FFF;font-weight:700;}
.situp-tr-even{background:#DEA7A4;}
.situp-tr-odd{background:#EFD3D2;}


/*--------Push Up Test------------*/
.pushup-heading{background:#5181BF;}
.pushup-td-head{background:#5181BF;color:#FFF;font-weight:700;}
.pushup-tr-even{background:#A6C0DB;}
.pushup-tr-odd{background:#D2E0EB;}


/*--------Upper Body joint Mobility------------*/
.uprbdy-heading{background:#D34825;}
.uprbdy-td-head{background:#D34825;color:#FFF;font-weight:700;}
.uprbdy-tr-even{background:#E69581;}
.uprbdy-tr-odd{background:#EEBEB1;}


/*--------Lower Body joint Mobility------------*/
.lwrbdy-heading{background:#06BEC1;}
.lwrbdy-td-head{background:#06BEC1;color:#FFF;font-weight:700;}
.lwrbdy-tr-even{background:#96D5D6;}
.lwrbdy-tr-odd{background:#C7E4E5;}


/*--------Muscle Flexibility------------*/
.flexibility-heading{background:#8264A0;}
.flexibility-td-head{background:#8264A0;color:#FFF;font-weight:700;}
.flexibility-tr-even{background:#C0B1D0;}
.flexibility-tr-odd{background:#DED6E5;}


/*-------- Fat % ------------*/
.fatpercentage-heading{background:#BB6A00;}
.fatpercentage-td-head{background:#BB6A00;color:#FFF;font-weight:700;}
.fatpercentage-tr-even{background:#D2B389;}
.fatpercentage-tr-odd{background:#E8D5BD;}


/*--------Waist Hip------------*/
.waisthip-heading{background:#9937B4;}
.waisthip-td-head{background:#9937B4;color:#FFF;font-weight:700;}
.waisthip-tr-even{background:#CB9CD8;}
.waisthip-tr-odd{background:#E2C8E9;}

/*--------Body Girth : Upperbody------------*/
.bdygirthup-heading{background:#2FA894;}
.bdygirthup-td-head{background:#2FA894;color:#FFF;font-weight:700;}
.bdygirthup-tr-even{background:#A0CDC5;}
.bdygirthup-tr-odd{background:#CCE6E1;}

/*--------Body Girth: Abdomen------------*/
.abdomen-heading{background:#385BB3;}
.abdomen-td-head{background:#385BB3;color:#FFF;font-weight:700;}
.abdomen-tr-even{background:#B1C0E5;}
.abdomen-tr-odd{background:#C8D1E6;}

/*--------Body Girth : LowerBody------------*/
.bodygirthlwr-heading{background:#4E7A43;}
.bodygirthlwr-td-head{background:#4E7A43;color:#FFF;font-weight:700;}
.bodygirthlwr-tr-even{background:#819A7B;}
.bodygirthlwr-tr-odd{background:#B6C6B2;}

/*--------Blood Test------------*/
.bloodtest-heading{background:#C6348E;}
.bloodtest-td-head{background:#C6348E;color:#FFF;font-weight:700;}
.bloodtest-tr-even{background:#F1AFD8;}
.bloodtest-tr-odd{background:#FDD9EF;}

.hav-large{display:block !important;}
.hav-small{display:none !important;}




/* ------ Free Guest Pass ----------*/
.free-guest-container{
	margin-top:0%;
   
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
	background:#E9E9E9;
}
#free-guest-container-box{
	width:80%;
	margin:0 auto;
}
.guest-pass-title p{
	width:100%;
	text-align:center;
	font-size:3em;
	padding-top:20%;
}
.guest-pass-desc p{
	width:100%;
	text-align:center;
	font-size:1.5em;
}
.guest-pass-link{
	width:50%;
	margin:0 auto;
}
.guest-pass-btn{
	width:100%;
	margin:0 auto;
	background: #F2652C;
	border: 2px solid #F2652C;
	color:#FFF;
	height: 50px;
	font-weight: bold;
	font-size: 1.3em;
	//text-shadow: 1px 1px 1px #323232;
	border-radius:6px;
	background:none;
	color:#F2652C;
}
.guest-pass-btn:hover{
	background: #F2652C;
	color:#FFF;
	transition:.3s;
}


/*--------Get Pass Page--*/
.get-your-pass-bg{
	//margin-top:3%;
   background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)), url("../images/getpassbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 100%;
   // padding-top: 50px;
    padding-bottom: 50px;
}

.get-your-pass-form{
	padding: 2% 3%;
	background: rgba(158, 158, 158, 0.1) none repeat scroll 0% 0%;
}
.get-pass-page-head h1{
	font-size: 4em;
	font-weight: bold;
	text-align: center;

}
.get-pass-page-head p{
	text-align: center;
	font-size: 20px;
}
.error-style{
	font-weight: bold;
	color: #FF7F70;
}
.custom-input{
	border: 1px solid #FFA486 !important;
	border-radius: 4px !important;
	
}
.custom-button-guest-pass{
	width: 100%;
	height: 47px;
	background: #FE5B26 none repeat scroll 0% 0%;
	border: 1px solid #FE5B26;
	color: #FFF;
	font-size: 1.3em !important;
	font-weight: 700;
}
.custom-button-guest-pass:hover{
	color: #FFF !important;
	opacity:.9;
}
.required-mark{
	font-weight: bold;
	font-size: 1em;
	text-shadow: 1px 1px 3px #5F5E5E;
}
#all-field-req{
	color: #FFF;
	background: #FC4242;
	padding: 1%;
	border-radius: 10px;
	font-weight: bold;
	display:none;
}
#submit-response{
	margin-top: 1%;
    text-align: left;
    padding: 1%;
    font-size: 17px;
	color: #ACFFB3;
	font-weight: 600;
	display:none;
}
/*----------Testimonial --------------*/

#testimonial-crousal{
	 width:80%;
	 margin:0 auto;
	 overflow-x:hidden;
}

.testimonial-container{
	height:320px;
}

.testimonial-container >.carousel-control.left{
	background:none !important;
	width:25px;
	color:#323232;
	}
.testimonial-container >.carousel-control.right  {
	background:none !important;
	width:25px;
	
	}

.testimonial-container > .carousel-control.left {left:-25px;}
.testimonial-container > .carousel-control.right {right:-25px;}
.testimonial-container > .broun-block {
  //  background: url("http://myinstantcms.ru/images/bg-broun1.jpg") repeat scroll center top rgba(0, 0, 0, 0);
   // padding-bottom: 34px;
}

.testimonial-block{
	padding:8%;
}
.testimonial-border-right{
	//border-right:2px dashhed #CCC;
}
.testimonial-container >  .block-text {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 0 #2c2222;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}
.testimonial-container >  .block-text a {
	color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.testimonial-container >  .mark {
    padding: 12px 0;background:none;
}
.testimonial-comment{
	//height:110px;
	padding-top:4px;
}
.testimonial-container >  .block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}

.testimonial-container >  .sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}
.testimonial-container >  .block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.testimonial-container >  .block {
    display: block;
}
.testimonial-container >  .zmin {
    z-index: 1;
}
.testimonial-container >  .ab {
    position: absolute;
}

.testimonial-container >  .person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.testimonial-container >  .person-text a {
    color: #F00;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.testimonial-container > .person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}
.testimonial-container > .rel {
    position: relative;
}
.testimonial-container  .person-text   img{
    border-radius:100% !important;
	width:22% !important;
	margin-left:38%;
//	box-shadow: 0 8px 6px -6px black;
}

.testimonial-name{
	font-size:1.4em;
	color:#EC5C23;
}
.person-text span{
	//font-size:1.3em;
	color: #FF6850;
}

#carousel-reviews .glyphicon-chevron-left{
	color:#323232;
}
#carousel-reviews .glyphicon-chevron-right{
	color:#323232;
}

#carousel-reviews .carousel-control.left {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, transparent 100%);
    background-repeat: repeat-x;
}
#carousel-reviews .carousel-control.right {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, transparent 100%);
    background-repeat: repeat-x;
}

/*---------Upcoming Events -----*/


.events-and-offers{
	margin-top:0%;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.8)), url("../images/upcoming-events.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed fixed;
	height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}
#events-and-offer-box-container{
	width:80%;
	margin:0 auto;
}
/* site.css */
.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.upcoming-events .panel-default > .panel-heading {
    color: #FF6600;
    background-color: #F5F5F5;
    border-color: #DDD;
	font-size: 1.5em;
}
.latest-offers-container .panel-default > .panel-heading {
    color: #FF6600;
    background-color: #F5F5F5;
    border-color: #DDD;
	font-size: 1.5em;
}


.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

#upcoming-events{
	height:330px;
	max-height:330px;
	overflow-y:hidden;
}

.news-item
{
	clear:both;
    padding:4px 4px;
    margin:0px;
	padding-top: 2%;
	padding-bottom: 20%;
	border-bottom: 1px solid #CCC;
 
}
.event-date{
	width:20%;
	float: left;
	height: 65px;
	background: #F2652C;
	text-align: center;
	border-radius: 6px;
	font-size: 124%;
	word-wrap: break-word;
	color:#FFF;
	font-weight:bold;
	box-shadow: 4px 4px 6px #CCC;
	
	
}
.event-date .date{
	//padding-top:1%;
}
.event-date .year{
	font-size: 1.6em;
}
.event-content{
	width:75%;
	float:right;
	
}
.event-content h5{
	margin-top:0px !important;
	margin-bottom:0px !important;
	color:#EE763A;
	font-weight:700;
	font-size: 0.85em;
}
.event-content a {
	background: #A1A1A1 none repeat scroll 0% 0%;
	text-decoration: none;
	color: #FFF;
	border-radius: 4px;
	padding: 2px 10px;
}
/*---------event detail------*/
.even-detail-modal{
	background:#EDEDED !important;
}
.event-detail-body{ 
	height:400px;
	max-height:400px;
	overflow-y:scroll;
}
.detail-event-head{
	color: #FF5C30;
	text-align: center;
	font-weight: 700;
}
.detail-even-branch{
	width:90%;
	margin:0 auto;
	text-align: left;
	font-size: 1em;
	font-weight: 600;
}
.detail-event-title{
	
	width: 90%;
	margin: 0px auto;
	//border-bottom: 2px solid rgb(255, 229, 223);
	padding-bottom: 1%;
	font-weight: bold;
	text-align: left;
	color: #EF581C;
}
.detail-event-desc{
	width: 90%;
	margin: 1% auto;
	border-bottom: 1px solid #CCC;
	padding-bottom: 2%;
}

/*
.event-detail-body::-webkit-scrollbar {
      width: 6px;
} 
.event-detail-body::-webkit-scrollbar-track {
      background-color: #ccc;
}
 
.event-detail-body::-webkit-scrollbar-thumb {
      background-color: rgba(255, 121, 54, 0.8); 
} 
 
.event-detail-body::-webkit-scrollbar-button {
      background-color: #FF7936;
} 
 
.event-detail-body::-webkit-scrollbar-corner {
      background-color: FF7936;
}
*/

#latest-offers{
	height:330px;
	max-height:330px;
	overflow-y:hidden;
	overflow-x:hidden;
}


/*---May I Help You Section-----*/
.may-i-help{
	margin-top:0%;
   // background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url("../images/contact-us-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed fixed;
	height: 100%;
    padding-top: 10px;
   // padding-bottom: 50px;
    background:#E9E9E9;
}
#may-i-help-box-container{
	width:80%;
	margin:3% auto;
}
.may-i-help-form{
	width:100%;
	margin:0 auto;
	background:#F3F3F3;
	/*border-top:1px solid #F2652C;
	border-left:1px solid #F2652C;
	border-right:1px solid #F2652C;
	border-bottom:1px solid #F2652C;*/
	border:1px solid #CCC;
	padding:5%;
	border-radius:16px;
	
}

.help-icon{
	width:100%;
	text-align:center;
}
.help-icon .glyphicon-question-sign{
	font-size:10em;
	color:#F2652C;
	
}
.help-icon .glyphicon-hand-right{
	font-size:5em;
	text-align:center;
}
.help-icon .glyphicon-hand-down{
	font-size:5em;
	text-align:center;
	display:none;
}
.help-title {
	width:100%;
	text-align:center;
	color:#F2652C;
	font-weight:bold;
	
}
.help-title p{
	font-size:4em;
}
.help-desc p {
	width:100%;
	text-align:center;
	font-size:1.7em;
}


.mayihelp-form-left{
	width:48%;
	margin-right:2%;
	float:left;
}
.mayihelp-form-right{
	width:48%;
	margin-left:2%;
	float:left;
}
.may-i-help-form label{
	font-size:1em;
	//color:#F2652C;
	color:#5F5F5F;
	
}
.may-i-help-form input{
	//border:1px solid #FF6600;
	border:1px solid #CCC;
}
.may-i-help-form textarea{
	//border:1px solid #FF6600;
	border:1px solid #CCC;
	resize:none;
}
.may-i-help-form button{
	width:100%;
	background:#F2652C;
	//background:#5D5D5D ;
	font-weight:bold;
	color:#FFF;
	border:1px solid #CCC;
}
.may-i-help-form button:hover{
	background:#5D5D5D ;
	border:1px solid #CCC;
	font-weight:bold;
	color:#FFF;
	transition:.5s;
	
}
.left-help-choice-option{
	width:48%;
	margin-right:1%;
	float:left;
}
.left-help-choice-option ul{
	list-style:none;
}
.right-help-choice-option{
	width:48%;
	margin-left:1%;
	float:left;
}
.right-help-choice-option ul{
	list-style:none;
}



/*------ Video Section-------*/
.video-section-box{
	margin-top:0%;
   // background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url("../images/contact-us-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed fixed;
	height: 100%;
    padding-top: 10px;
   // padding-bottom: 50px;
   background:#FFF;
}

#video-section-box-container{
	width:80%;
	margin:3% auto;
}
.video-icon{
	width:100%;
	text-align:center;
	
}
.video-icon .glyphicon-facetime-video{
	font-size:5em;
	text-align:center;
	color:#F2652C;
}
.video-title {
	width:100%;
	text-align:center;
	color:#F2652C;
	font-weight:bold;
	
}
.video-title p{
	font-size:4em;
}
.video-desc p {
	width:100%;
	text-align:center;
	font-size:1.5em;
}

.more-video{
	clear:both;
	width:40%;
	margin:0 auto;
}
.more-video .more-videos-btn{
	width:100%;
	margin:0 auto;
	background:none;
	border:1px solid #F2652C;
	color:#F2652C;
	font-weight:bold;
}
.more-video .more-videos-btn:hover{
	background:#F2652C;
	color:#FFF;
	border:1px solid #F2652C;
	transition:.3s;
}



/******************About Us **********************/

.row-container{
	width:80% !important;
	margin:2% auto !important;
}
.row-container img{
	border-radius:8px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.row-container h1{
	font-size: 3.8em;
	text-align: left;
	font-weight: bold;
}
.about-us-row-container{
	width:80% !important;
	margin:2% auto !important;
	
}
.about-us-row-container h1{
	font-size: 3.8em;
	text-align: left;
	font-weight: bold;
}
.about-us-row-container img{
	border-radius:8px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.desktop-about-img{
	display:block !important;
}
.responsive-about-block-img{
	display:none !important;
}

.first-text-col {
	color:#F65E3E;
}
.about-first-head{
	font-size: 19px;
	color: #F65E3E;
}
.mantra-bout-text{
	padding-left:4%;
}
.mission-vision-heading {
	font-size: 3.8em;
	text-align: left;
	font-weight: bold;
}
.mission-and-vission img{
	border-radius:8px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.mission-and-vission h1{
	font-size: 18px;
	color: #FF4800;
	margin-top: -5px;
}
.vision-highlight{
	font-weight: bold;
	color:#FF5100;
	padding: 2%;
	
}
.mission-vision-bg  p{
	color:#FFF;
	text-align:center;
}

/*----Career-----*/
.career-form-container{
	background: transparent;
	border:0px solid #E3E0E0;
	padding:8% 4%;
	border-radius:2%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin-top:1%;
	//background: linear-gradient(45deg, #e6e6e6, #e9e9e9);
}
.career-form-container label{
	color:#F2652C;
}
.career-form-container .file{
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity:0;
	background-color:transparent;
	color:transparent;
}
.resume-file-info{
	background-color: #FE612E;
	padding: 1% 3%;
}



/*-----------Life Style Health Club---------*/

.parralax-health-style-block2 {
    /* The image used */
   background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../images/getpassbg.jpg");
   height:100%;
   min-height: 100%; 
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 50px;
   padding-bottom: 20px;
   color:#D7D7D7 !important;
}

.life-text-block-2{
	font-size: 1.2em;
}
.life-text-block-2 .glyphicon-hand-right{
		font-size:5em;
		text-align:center;
	}
ul.fa-ul li{
	padding:2px 0;
}
ul.fa-ul li .badge{
	background:#F2652C;
}
.health-right-icon{
	text-align:center;
	display:block;
}
.health-style-feature-icon{
	text-align:center !important;
}
.health-style-feature-icon .badge{
	font-size:1.5em;
	padding: 3px 18px;
	background:#FF654B;
}
.health-style-feature-title{
	text-align:center !important;
	font-size:2.3em;
	color:#F8663F;
}
.gen-medical-assmnt1{
	padding-top:10%;
	font-size: 17px;
}
.health-style-block3 ul li{
	padding:2% 0%;
}
.health-style-block4 .badge,.health-style-block5 .badge,.health-style-block6 .badge{
	background:#F2652C;
}
.health-style-block4 ul li,.health-style-block5 ul li,.health-style-block6 ul li{
	padding:2% 0%;
}
/*------Page Tesimonials-----------*/

.testimonial-page-block{
	position:relative;
	display:inline-block;
	padding: 10% 2%;
	border: 1px solid #F2652D;
	background: #F2652D;
	color: #FFF;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 6px;
	height: 400px;
	max-height: 400px;
	overflow-y:auto;
	margin-bottom:10%;
}
/*
.testimonial-page-block .testimonial-img img{
	width: 100px;
	height:100px;
	border-radius:100%;
	border:4px solid #FFF;

}
.testimonial-page-block .testimonial-name{
	text-align:center;
	color:#FFF; 
	
}
.testimonial-page-block  .person-name{
	font-weight: 600 !important;
	padding-top: 2% !important;
}
.testimonial-page-block .testimonial-desc{
	padding: 8% 2%;
}
.diveder-line{
	border: 1px solid #F8F1F1;
	width: 11%;
	margin: 0 auto !important;
}
*/
.testimonial-page .testimonial-img img{
	/*width: 100px;
	height:100px;*/
	border-radius:100%;
	border:4px solid #FFF;

}
.testimonial-page .testimonial-name{
	text-align:center;
	color:#323232; 
}

.testimonial-page  .person-name{
	font-weight: 600 !important;
	padding-top: 0% !important;
}
.testimonial-page .testimonial-desc{
	padding: 0% 0%;
	text-align: center !important;
}

.diveder-line{
	clear:both;
	border: 1px solid #F8F1F1;
	width: 40%;
	margin: 0 auto !important;
}
.page-testimonial-block{
	padding-bottom:1% ;
}


/* Content */
.content {
    padding-top: 30px;
}

/* Testimonials */
.testimonial-page .testimonials{
	border: 1px solid #EDEDED;
	padding: 1%;
	border-radius: 10px;
	margin-bottom:2%;
}
.testimonial-page .testimonials blockquote {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}
.testimonial-page  .testimonials blockquote::before {
    width: 0; 
    height: 0;
	right: 0;
	bottom: 0;
	content: " "; 
	display: block; 
	position: absolute;
    border-bottom: 20px solid #fff;    
	border-right: 0 solid transparent;
	border-left: 15px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-bottom-style: inset; /*FF fixes*/
}
.testimonial-page  .testimonials blockquote::after {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #e63f0c transparent transparent transparent;
}
.testimonial-page  .testimonials .carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 85px;
    padding: 3px;
    width: 85px;
}
.testimonial-page  .testimonials .carousel-info {
    overflow: hidden;
}
.testimonial-page  .testimonials .carousel-info img {
    margin-right: 15px;
}
.testimonial-page  .testimonials .carousel-info span {
    display: block;
}
.testimonial-page  .testimonials span.testimonials-name {
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
}
.testimonial-page  .testimonials span.testimonials-post {
    color: #656565;
    font-size: 12px;
	font-weight:700;
}
/*end*/


/*---------managment---------------*/
.parralax-team-director {
    /* The image used */
   background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.9)), url("../images/gym-weights.jpg");
   height:100%;
   min-height: 100%; 
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 50px;
   padding-bottom: 20px;
   color:#D7D7D7 !important;
}

.manrta-director-image{
	text-align:center;
}
.manrta-director-image img{
	border-radius:100%;
	border:4px solid #EFEFEF;
}
#more-info-director1, #show-less-btn-director{
	display:none;
}
.know-more-director{
	width:20%;
	margin:0 auto !important;
}
.know-more-director button{
	width:100%;
	margin:0 auto;
}


/*-------------Trainer----------*/
.trainer-info{
	width:100%;
	margin:0 auto !important;
}
.trainer-info h3 , .trainer-certificates h3 , .trainer-specializations h3{
	color:#F2652C;
}
.trainer-info h4{
	margin-top:-3%;
}
.trainer-info h5{
	margin-top:-3%;
}
.about-trainer , .trainer-certificates, .trainer-rating{
	//margin-top:10%;
	color:#656565;
}
.trainer-rating .glyphicon-star{
	color:#F2652C;
}



/*--------------Fitness Education---------*/
.fitness-education h3{
	color:#F2652C;
	margin-top:0px;
}
.fitness-education .glyphicon-play{
	color:#ED593A;
}
.fitness-obj-block{
	padding-left:4% !important;
}

.parralax-fitness-education-ques {
    /* The image used */
   background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../images/question-paper.jpg");
   height:100%;
   min-height: 100%; 
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 50px;
   padding-bottom: 20px;
   color:#D7D7D7 !important;
}
.fitness-ed-yr{
	text-align:left !important;
}
.fitnessEnqForm .form-group{
	margin-bottom: 12px !important;
	
}
.fitnessEnqForm label{
	margin-bottom: 2px !important;
	
}

.fitnessEnqForm .input-group-addon {
	color: #EB5726;
    background-color: #F8F8F8;
	border: 1px solid #CCC;
}
.fitnessEnqForm label{
	color:#EB5726;
}
.fitnessEnqForm input  , 
.fitnessEnqForm textarea{
	border: 1px solid #CCC;
}
/*
.contact-submit{
	width:100%;
	margin:0 auto;
}  
.contact-submit .btn{
	width:100%;
	background-color:#EB5726 !important;
	border-color:#EB5726 !important;
	font-weight:700;
}
*/


/*-----------Service---------------*/
.select-style {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
   // background: #fafafa url("../images/down-arrow.png") no-repeat 99% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 102%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
#rateChartAccordion.panel-group {
    margin-bottom: 4px !important;
}
#rateChartAccordion .panel-heading {
	background:#F2652C;
	border:1px solid #F2652C;
	color:#FFF;
	/*height: 45px !important;
	line-height:45px !important;*/
	cursor:pointer;
}
#rateChartAccordion .panel-title{
	font-size:14px;
}
#rateChartAccordion a{
	text-decoration:none;
	font-weight: 700;
}
#branchWiseRate .table{
	border:1px solid #CCC;
}
.facility-heading {
	padding-top:2%;
	padding-bottom:2%;
	background:#FE6F41;
	border-radius:10px;
	color:#FFF;
	font-weight:700;
	font-size: 18px;
}
.facilityDetail .table{
	border:1px solid #CCC;
}
.facilityDetail .table thead{
	background: #FF7D53 none repeat scroll 0% 0%;
	color:#FFFFFF;
	border-bottom:1px solid #FF7D53;
}
.facilityDetail h3{
	font-weight: 600;
	color: #F06E44;
}



/*
#accordion .glyphicon { margin-right:10px; }
      .panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
      .panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
      .panel-collapse>.list-group {margin-bottom: 0;}
      .panel-collapse .list-group-item {border-radius:0;}

      .panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
      .panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

      .panel-collapse div.list-group div.list-group{margin: 0;}
      .panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}
*/


/*---------Video Gallery-------*/
.parralax-video-gallery{
	//background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../images/video-gallery.jpg");
   background:#F8F8F8;
   height:100%;
   min-height: 100%; 
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 50px;
   padding-bottom: 50px;
   color:#D7D7D7 !important;
}



/*---------------Body Calculator------------*/
.no-responsive-view{
	display:block !important;
}
.responsive-view{
	display:none !important;
}
.custom-form-container label{
	margin-bottom:2px;
}

.custom-form-container .form-group {
    margin-bottom: 10px;
}
.custom-form-container .form-control{
	height:30px;
	border: 1px solid #D1CFCF;
}
.body-calculator h1{
	font-size:4em;
	color:#F2652C;
	text-align:center;
}
.custom-form-container button[type=submit]{
	width: 100% !important;
	height:44px;
	margin-top:2%;
	background:#F2652C;
	color: #FFF !important;
	/*background: #EFEFEF none repeat scroll 0% 0%;
	border: 1px solid #CCC;
	color: #F05328;*/
	font-weight: 700;
}
.body-cal-form-container{
	background: transparent;
	border:1px solid #E3E0E0;
	padding:8% 4%;
	border-radius:2%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin-top:15%;
}
.body-cal-form-container label{
	color:#F2652C;
}

.body-calc-result-view {
  position: relative;
  //display:block;
 // float:left;
  display: inline-table;
  width: 100px;
  height: 100px;
  padding: 4% 1%;
  margin: 10px;
  color: #444444;
  text-align: center;
  text-decoration: none;
/*  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC; */
  
 // border: 2px solid #FB8F72;
  border-radius: 5%;
}
.body-calc-result-view>span{
	font-size: 12px;
	font-weight: 700;
	//text-shadow: 2px 1px 2px #271616;
}
.body-calc-result-view .label {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 0.9em;
}
.bdy-cal-result-view1{
	background:#E33BF2;
	color:#FFF;
}

.bdy-cal-result-view2{
	background:#8F52FF;
	color:#FFF;
} 
.bdy-cal-result-view3{
	background:#1ED3C1;
	color:#FFF;
} 
.bdy-cal-result-view4{
	background:#FF5557;
	color:#FFF;
}
.bdy-cal-result-view5{
	background:#1FC5C8;
	color:#FFF;
}
.bdy-cal-result-view6{
	background:#3D3846;
	color:#FFF;
}
.bdy-cal-result-view7{
	background:#C49B12;
	color:#FFF;
}
.bdy-cal-result-view8{
	background:#FC863D;
	color:#FFF;
}

.result-btn-col1 {
  color: #ffffff;
  background-color: #a264e7;
  border-color: #62309a;
}

.body-calculator h3{
	text-align: center;
	font-size: 30px;
	color: #5F5C5C;
}

.desktop-view-body-fat-result{
	display:block;
}
.responsive-view-body-fat-result{
	display:none !important;
}


/*-------------Harvard step test --------------*/
.harvard-step-test .body-cal-form-container{
	margin-top:0%;
}

.harvard-test-result h2{
	text-align:center;
	font-size:40px;
}

/*---------Contact Us--------*/
.google-map-container{
	//margin-top:3%;
	background:#E9E9E9;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#contact-us-container{
	width:80%;
	margin:0 auto;
}
.google-map{
	width:90%;
	margin:0 auto;
	
}

/*--------Contact us page-------*/
#contact-page-box-container{
	height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background:#F3F3F3;
	
}
.contact-row-container
{
	width:80%;
	margin:0 auto !important;
}
.contact-box-container{
	border: 1px solid #CCC;
	padding: 2%;
	border-radius: 10px;
	height:590px;
	max-height:600px !important;
	margin-bottom:3%;
}
.contact-row-container .contact-title-head{
	text-align:left;
	font-size:2em;
	color:#F2652C;
	font-weight:700;
}
.c-branch-name{
	font-size:1.9em;
	font-weight:500;
}
.c-branch-add{
	margin-top: -10px;
	font-size: 1.3em;
}
.c-branch-add{
	margin-top: -8px;
	font-size: 1.3em;
}
.contact-branch{
	width:62% !important;
	margin:0 auto !important;
}
.facebook-page-container{
	padding:2%;
	border:1px solid #CCC;
	border-radius:10px;
	height:590px;
	max-height:600px !important;
}

.contact-enquiry-container .jumbotron {
background: #F97A3E none repeat scroll 0% 0%;
color: #FFF;
border-radius: 0px;
}
.contact-enquiry-container .jumbotron h1 small{
	color:#DEDEDE;
}
.jumbotron-sm {
padding-top: 24px;
padding-bottom: 24px; 
}
.contact-enquiry-container .input-group-addon {
	color: #EB5726;
    background-color: #F8F8F8;
	border: 1px solid #CCC;
}
.contact-enquiry-container label{
	color:#EB5726;
}
.contact-enquiry-container input  , 
.contact-enquiry-container textarea{
	border: 1px solid #CCC;
}

.contact-submit{
	width:100%;
	margin:0 auto;
}  
.contact-submit .btn{
	width:100%;
	background-color:#EB5726 !important;
	border-color:#EB5726 !important;
	font-weight:700;
}






/*--------------*/
/*
.footer-section{
	width:100%;
	margin-top:1%;
	height:80px;
	text-align:center;
	background:#323232;
	color:#FFF;
	line-height:80px;
}
*/

/*

.footer1 {
   background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/footerbg.jpg");
   height:100%;
   min-height: 100%; 
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 50px;
   padding-bottom: 20px;
   color:#D7D7D7 !important;
}
*/



/************************************************************
*************************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
  // background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.5)), url("../images/footerbg.jpg");
  background-image: linear-gradient(rgba(215, 66, 25, 0.7), rgba(0, 0, 0, 0.5)), url("../images/footerbg.jpg");
   height:100%;
   min-height: 100%; 
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 50px;
   padding-bottom: 20px;
   color:#D7D7D7 !important;
}



.title-widget {
	color: #E74C3C;
	font-size: 18px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
	position: relative;
    text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 0px;
	width:95%;
}
.widget_nav_menu ul li a{
	text-decoration:none;
	color:#FFF !important;
}
.widget_nav_menu ul li a:hover{
	color:#FC844C !important;
}


.title-median {
    color: #FEFEFE;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }

.social-icons ul a{
	color:#FFF;
}

#social:hover {
    			-webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
			}
			#social {
				-webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
			}           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
			.social-fb:hover {
				color: #3B5998;
			}
			.social-tw:hover {
				color: #4099FF;
			}
			.social-gp:hover {
				color: #d34836;
			}
			.social-em:hover {
				color: #f39c12;
			}
			.nomargin { margin:0px; padding:0px;}





.footer-bottom {
    background-color: #F2652D;
    min-height: 30px;
    width: 100%;
}
.footer-bottom .row-container{
	margin:0 auto !important;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}


/************************************************************
*************************Footer******************************
*************************************************************/

/*-----------------Custome Responsive CSS----------------*/
@media only screen and (max-width: 1275px) {
	.news-item {
		padding: 2% 4px 28%;
    }
}

@media only screen and (max-width: 1265px) {
	#upcoming-events {
		height: 284px;
		max-height: 284px;
		overflow-y: hidden;
	}
	
	
	#latest-offers {
		height: 284px;
		max-height: 284px;
		overflow: hidden;
	}
}

@media only screen and (max-width: 1199px){
	.about-us-row-container {
		width: 94% !important;
    }
	.row-container{
		width:94% !important;
	}
	
}



@media only screen and (max-width: 1128px) {
	.service-icon{
		width:82%;
		margin:0 auto;
	}
	.service-box h4{
		text-align:center;
		margin-top:-10px;
		font-size: 1em;
		font-weight:bold;
	}
	
	#events-and-offer-box-container {
		width: 96%;
		margin: 0px auto;
	}
	#may-i-help-box-container {
		width: 96%;
		margin: 3% auto;
	}
	#video-section-box-container{
		width:96%;
		margin:3% auto;
	}
	.news-item {
      padding: 2% 4px 22%;
	}
	.contact-row-container{
	width:96%;
	margin:0 auto !important;
	}
}

@media only screen and (max-width: 1065px) {
	.news-item {
      padding: 2% 4px 28%;
	}
}

@media only screen and (max-width:1072px){
	.row-container h1{
		font-size: 2.8em;
		text-align: center;
		/*font-weight: bold; */
	}
}

@media only screen and (max-width: 1050px) {
	#upcoming-events {
		height: 284px;
		max-height: 284px;
		overflow-y: hidden;
	}
	
	#latest-offers {
		height: 284px;
		max-height: 284px;
		overflow: hidden;
	}
	
}


@media only screen and (max-width: 991px) {
	.service-box{
		width:47%;
		float:left;
		border-right: 0px solid #F5F5F5;
	}
	.service-icon{
		width:45%;
		margin:0 auto;
		
	}
	.service-box h4{
		text-align:center;
		margin-top:-10px;
		font-size: 1.5em;
		font-weight:bold;
	}
	.guest-img-container img{
		margin: 0 auto;
		border-bottom:1px solid #DBDBDB;
		
	}
	.guest-pass-title p {
		padding-top: 3%;
	}
	.guest-content-container{
		padding-bottom:8%;
	}
	
	#events-and-offer-box-container {
		width: 70%;
		margin: 0px auto;
	}
	#latest-offers li img{
		margin:0 auto;
	}
	.news-item {
    padding: 2% 4px 13%;
	}
	
	
	.help-icon .glyphicon-hand-right{
		font-size:5em;
		text-align:center;
		display:none;
	}
	.help-icon .glyphicon-hand-down{
		font-size:5em;
		text-align:center;
		display:block;
		padding-bottom:2%;
	}
	.testimonial-block{
		padding:0%;
	}
	.testimonial-container  .person-text   img{
    border-radius:100% !important;
	width:18% !important;
	margin-left:41%;
	//	box-shadow: 0 8px 6px -6px black;
	}
	.event-modal{
		top:29% !important;
		width: 100%;
		margin: 0 auto;
	}
	#fbpageContainer{
	width:64% !important;
	margin:0 auto;
	}
	.facebook-page-container p{
		text-align:center !important;
	}
	.about-us-row-container img{
		margin-bottom:4%;
	}
	.desktop-about-img{
		display:none !important;
	}
	.responsive-about-block-img{
		display:block !important;
	}
	.mantra-bout-text{
		width:80%;
		margin:5% auto;
	}
	.health-right-icon{
		display:none;
	}
	.gen-medical-assmnt1 {
		padding-top: 1%;
	}
	.fitness-ed-yr{
	text-align:center !important;	
	}
	.desktop-view-body-fat-result{
		display:none !important;
	}
	.responsive-view-body-fat-result{
		display:block !important;
	}
	.body-cal-form-container {
        margin-top: 2%;
		padding: 3% 4%;
	}
	.body-calc-result-view {
		width: 106px;
		height: 106px;
	}
	.body-fat-per-result{
		margin-left:4%;
	}
	.no-responsive-view{
		display:none !important;
	}
	.responsive-view{
		display:block !important;
	}
	.trainer-info{
		padding-top:18%;
	}
	.trainer-info h4,.trainer-info h5{
	margin-top:0%;
	}
	.mmwl-package-bet-head{
		text-align:center;
	}
	.copyright {
		text-align:center;
	}
	.design {
		text-align:center;
	}
	
}
@media only screen and (max-width: 900px) {
	.responsive-icon{
		display:block !important;
	}
	.desktop-view {
		display:none !important;
	}
	.news-item {
     padding: 2% 4px 16%;
	}
	
}
@media only screen and (max-width: 891px) {
	.body-fat-per-result{
		margin-left:10%;
	}
	.revolutionary-cache{
		font-size:3em;
	}
}

@media only screen and (max-width: 873px){
	.news-item {
    padding: 2% 4px 20%;
	}
	.revolutionary-step1-container{ width:60%;}
	.revolutionary-step2-container{width:80%;}
	.revolutionary-step3-container{width:90%;}
	
}
@media only screen and (max-width: 795px) {
	.body-fat-per-result{
		margin-left:0%;
	}
	.revolutionary-item1,.revolutionary-item2,.revolutionary-item3{height:120px;}
}

/*---@768 to 767 --on 01-03-2017 ---*/
@media only screen and (max-width: 767px) {
	.service-box{
		width:60%;
		float:none;
		margin:0 auto;
	}
	.service-icon{
		width:41%;
		margin:0 auto;
		
	}
	#events-and-offer-box-container {
		width: 75%;
		margin: 0px auto;
	}
	#upcoming-events {
		height: 320px;
		max-height: 320px;
		overflow-y: hidden;
	}
	#latest-offers {
		height: 320px;
		max-height: 320px;
		overflow: hidden;
	}
	#fbpageContainer{
	width:80% !important;
	margin:0 auto;
	}
	.testimonial-page-block .testimonial-desc{
		padding: 2% 16%;
	}
	
	.trainer-info{
		padding-top:0%;
	}
	.contact-submit{
		margin-top:2%;
		margin-bottom:1%;
	}
	.revolutionary-item1,.revolutionary-item2,.revolutionary-item3{height:auto;}
}	
@media only screen and (max-width: 719px) {
	.body-fat-per-result{
		margin-left:10%;
	}
}

@media only screen and (max-width:690px){
	.revolutionary-step1-container{ width:90%;}
	.revolutionary-step2-container{width:90%;}
	.revolutionary-step3-container{width:90%;}
}

@media only screen and (max-width: 682px) {
	.service-icon{
		width:46%;
		margin:0 auto;
		
	}
	#upcoming-events {
		height: 280px;
		max-height: 280px;
		overflow-y: hidden;
	}
	#latest-offers {
		height: 280px;
		max-height: 280px;
		overflow: hidden;
	}
	.news-item {
		padding: 2% 4px 28%;
	}
	.mantra-bout-text {
    width: 98%;
    margin: 5% auto;
	}
}
@media only screen and (max-width: 636px) {
	.service-box{
		width:96%;
		float:none;
		margin:0 auto;
	}
	.service-icon{
		width:32%;
		margin:0 auto;
		
	}
	#events-and-offer-box-container {
		width: 96%;
		margin: 0px auto;
	}
	#upcoming-events {
		height: 320px;
		max-height: 320px;
		overflow-y: hidden;
	}
	#latest-offers {
		height: 320px;
		max-height: 320px;
		overflow: hidden;
	}
	.event-modal{
		top:0% !important;
		width: 100%;
		margin: 0 auto;
		
	}
	
	
}
@media only screen and (max-width: 600px){
	#fbpageContainer{
	width:100% !important;
	margin:0 auto;
	}
}

@media only screen and (max-width: 535px) {
	.service-icon{
		width:38%;
		margin:0 auto;
		
	}
	.mantra-heading-text{
		font-size:2.8em;
	}
	#upcoming-events {
		height: 280px;
		max-height: 280px;
		overflow-y: hidden;
	}
	#latest-offers {
		height: 280px;
		max-height: 280px;
		overflow: hidden;
	}
	.testimonial-container  .person-text   img{
    border-radius:100% !important;
	width:25% !important;
	margin-left:36%;
	//	box-shadow: 0 8px 6px -6px black;
	}
	.testimonial-page-block .testimonial-desc{
		padding: 2% 4%;
	}
	.step-no {
	line-height: 65px;
    padding-left: 3%;
	}
}

@media only screen and (max-width: 515px) {
	.body-fat-per-result {
		margin-left: 5%;
	}
	.know-more-director{
		width:60%;
		margin:0 auto !important;
	}
}

@media only screen and (max-width: 480px) {
	#upcoming-events {
		font-size:.9em;
	}
	#upcoming-events .news-item {
		padding: 3% 4px 31%;
	}
	#upcoming-events .news-item  a{
		line-height: 31px;
	}
	
	.mayihelp-form-left{
		width:98%;
		margin-right:0%;
		float:none;
	}
	.mayihelp-form-right{
		width:98%;
		margin-left:0%;
		float:none;
	}
	.help-icon .glyphicon-question-sign {
		font-size: 7em;
		color: #F2652C;
	}
	.help-title p {
		font-size: 3em;
	}
	.help-desc p {
		font-size: 1.2em;
	}
	.mission-vision-heading {
	font-size: 2.5em;
	text-align: center;
	
	}
	.harvard-test-result h2{
		text-align:center;
		font-size:25px;
	}
	.body-cal-form-container {
		margin-top: 5% !important;
		padding: 5% 4% !important;
	}
	#scroll{
		width: 35px;
		height: 35px;
		right: 5%;
	}
	.step-description p {
		font-size: 13px;
	}
}

@media only screen and (max-width: 465px) {
	#upcoming-events {
		height: 310px;
		max-height: 310px;
		overflow-y: hidden;
	}
	#upcoming-events .news-item {
		//padding: 3% 4px 25%;
	}
	#latest-offers {
		height: 248px;
		max-height: 248px;
		overflow: hidden;
	}
	#video-section-box-container {
		width: 96%;
		margin: 7% auto;
	}
	.video-title p {
		font-size: 3em;
	}
	.video-desc p {
		font-size: 1.3em;
	}
	.row-container h1 {
		font-size: 2.2em;
		text-align: center;
	}
	.about-first-head {
		font-size: 17px;
		color: #F65E3E;
	}
	.body-fat-per-result {
		margin-left: 0%;
	}
	
	.body-calculator h3 {
		margin-top: 10%;
	}
}
/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/

@media screen and (max-width: 442px) {
  .body-calc-result-view{
	  width:100px;
  }
}


@media only screen and (max-width: 424px) {
	.service-icon{
		width:47%;
		margin:0 auto;
		
	}
	.mantra-heading-text{
		font-size:2em;
	}
   .guest-pass-link {
		width: 90%;
		margin: 0px auto;
	}
	#latest-offers {
		height: 238px;
		max-height: 238px;
		overflow: hidden;
	}
	#upcoming-events .news-item {
     padding: 3% 4px 36%;
	}
	.fa-ul {
    margin-left: 0px !important;
    }
	.revolutionary-step1-container{ width:98%;}
	.revolutionary-step2-container{width:98%;}
	.revolutionary-step3-container{width:98%;}
}	
@media only screen and (max-width: 421px) {
	.body-calc-result-view{
	  width:41%;
  }
}

@media only screen and (max-width: 410px) {
	#events-and-offer-box-container {
		width: 98%;
		margin: 0px auto;
	}
	.event-date {
		font-size:100%;
		padding-top:3%;
	}
	#upcoming-events {
		height: 288px;
		max-height: 288px;
		overflow-y: hidden;
	}
	#latest-offers {
		height: 238px;
		max-height: 238px;
		overflow: hidden;
	}
	.about-us-row-container h1 {
    font-size: 2.8em;
    text-align:center;
	}
}

@media only screen and (max-width: 380px) {
	.service-box{
		width:98%;
		float:none;
		margin:0 auto;
	}
	.service-icon{
		width:55%;
		margin:0 auto;
		
	}
	.guest-pass-title p {
		font-size: 2em;
	}
	#upcoming-events .news-item {
	//	padding: 3% 4px 28%;
	}
	#latest-offers {
		height: 220px;
		max-height: 220px;
		overflow: hidden;
	}
	.body-calculator h3{
		font-size: 22px;
	}
}
@media only screen and (max-width: 360px) {
	
	.event-date{
		width:25%;
		
	}
	.event-content{
		width:62%;
	}
	#upcoming-events .news-item {
		padding: 2% 4px 56%;
	}
	#upcoming-events {
		height: 260px;
		max-height: 260px;
		overflow-y: hidden;
	}
	#latest-offers {
		height: 192px;
		max-height: 192px;
		overflow: hidden;
	}
	.hav-large{display:none !important;}
	.hav-small{display:block !important;}
	
}

@media only screen and (max-width: 350px) {
	#upcoming-events .news-item {
	//	padding: 5% 4px 42%;
	}
}
@media only screen and (max-width: 340px) {
	.event-content{
		width:70%;
	}
	#upcoming-events .news-item {
	//	padding: 5% 4px 48%;
	}
}
@media only screen and (max-width: 320px) {
	.service-icon{
		width:67%;
		margin:0 auto;
		
	}
	.mission-vision-heading {
    font-size: 2.2em;
    text-align: center;
	}
	.harvard-test-result h2 {
		font-size: 20px;
	}
}

@media only screen and (max-width: 310px){
	#upcoming-events .news-item {
		padding: 6% 4px 65%;
	}
}

@media only screen and (max-width: 291px) {
	.body-calc-result-view{
	 width: 96%;
	 margin-left:10px;
	 border-radius: 0;
	 height: 56px;
  }
}


