.dashbord-top-nav{
	background:#F2652C;
	border-color:#F2652C;
}
.dashbord-top-nav  .navbar-brand{
	color:#FFF;
}
.dashbord-top-nav  ul li a{
	color:#FFF;
}
.side-nav {
	background:#F2652C;
	border-color:#F2652C;
}
.side-nav  li  a {
    color:#FFF !important;
}
.navbar-inverse .navbar-nav > 
.active > a, 
.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #F58F66;
}
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #F58F66;
}